<!-- =========================
     PORTFOLIO
========================= -->
<section class="portfolio" id="portfolio">
  <div class="wrapper">

    <!-- HEADING -->
    <h2>OUR PORTFOLIO</h2>

    <!-- SUB HEADING -->
    <p class="sub-heading">Eugiat nulla facilisis est gothica</p>

    <!-- LINE -->
    <div class="main-line"></div>

    <!-- PORTFOLIO FILTERS -->
    <ul class="portfolio-filters">
      <li data-filter="web-design">Web Design</li>
      <li data-filter="logo">Logo</li>
      <li data-filter="photography">Photography</li>
      <li data-filter="video">Video</li>
      <li data-filter="marketing">Marketing</li>
    </ul>

    <!-- PROJECTS CONTAINER -->
    <div class="projects-container">

      <!-- PROJECTS -->
      <ul class="projects">

        <!-- SINGLE PROJECT -->
        <li class="single-project dark-bg" data-filter-class='["web-design", "photography"]'>
          <!-- PROJECT IMAGE -->
          <%= image_tag "work/flatavatars.png", alt: "Gary" -%>
          <!-- PROJECT LINK -->
          <a href="#">
            <div class="project-details-conainer">
              <div class="project-details">
                <!-- HEADING -->
                <h3>Flat Avatar</h3>

                <!-- DETAILS -->
                <p>
                  tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                </p>
              </div>
            </div>
          </a>
        </li>

        <!-- SINGLE PROJECT -->
        <li class="single-project dark-bg" data-filter-class='["video", "photography"]'>
          <!-- PROJECT IMAGE -->
          <%= image_tag "work/maherjarrah.png", alt: "Gary" -%>
          <!-- PROJECT LINK -->
          <a href="#">
            <div class="project-details-conainer">
              <div class="project-details">
                <!-- HEADING -->
                <h3>My Own Logo</h3>

                <!-- DETAILS -->
                <p>
                  tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                </p>
              </div>
            </div>
          </a>
        </li>

        <!-- SINGLE PROJECT -->
        <li class="single-project dark-bg" data-filter-class='["marketing", "photography"]'>
          <!-- PROJECT IMAGE -->
          <%= image_tag "work/maherjarrah.png", alt: "Gary" -%>

          <!-- PROJECT LINK -->
          <a href="#">
            <div class="project-details-conainer">
              <div class="project-details">
                <!-- HEADING -->
                <h3>SKY For Printing</h3>

                <!-- DETAILS -->
                <p>
                  tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                </p>
              </div>
            </div>
          </a>
        </li>

        <!-- SINGLE PROJECT -->
        <li class="single-project dark-bg" data-filter-class='["web-design", "logo"]'>
          <!-- PROJECT IMAGE -->
          <%= image_tag "work/maherjarrah.png", alt: "Gary" -%>

          <!-- PROJECT LINK -->
          <a href="#">
            <div class="project-details-conainer">
              <div class="project-details">
                <!-- HEADING -->
                <h3>Crown</h3>

                <!-- DETAILS -->
                <p>
                  tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                </p>
              </div>
            </div>
          </a>
        </li>

        <!-- SINGLE PROJECT -->
        <li class="single-project dark-bg" data-filter-class='["marketing", "logo"]'>
          <!-- PROJECT IMAGE -->
          <%= image_tag "work/maherjarrah.png", alt: "Gary" -%>

          <!-- PROJECT LINK -->
          <a href="#">
            <div class="project-details-conainer">
              <div class="project-details">
                <!-- HEADING -->
                <h3>Old Phone</h3>

                <!-- DETAILS -->
                <p>
                  tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                </p>
              </div>
            </div>
          </a>
        </li>

        <!-- SINGLE PROJECT -->
        <li class="single-project dark-bg" data-filter-class='["web-design"]'>
          <!-- PROJECT IMAGE -->
          <%= image_tag "work/maherjarrah.png", alt: "Gary" -%>

          <!-- PROJECT LINK -->
          <a href="#">
            <div class="project-details-conainer">
              <div class="project-details">
                <!-- HEADING -->
                <h3>Bee</h3>

                <!-- DETAILS -->
                <p>
                  tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                </p>
              </div>
            </div>
          </a>
        </li>

      </ul> <!-- /END PROJECTS -->

    </div> <!-- /END PROJECTS CONTAINER -->

  </div> <!-- /END WRAPPER -->
</section>