<!-- =========================
     PRELOADER
========================== -->
<div class="preloader"></div>

<%= render partial: "nav_bar" %>

<%= render partial: "home_page" %>

<%= render partial: "about" %>

<%= render partial: "services" %>

<%= render partial: "testimonials" %>

<%= render partial: "customers" %>

<%= render partial: "portfolio" %>

<%= render partial: "call_to_action" %>

<%= render partial: "pricing" %>

<%= render partial: "subscribtion" %>

<%= render partial: "team" %>

<%= render partial: "skills" %>

<%= render partial: "contact_us" %>

<%= render partial: "footer" %>